---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout>
  <section>
    <ul class="mx-auto grid max-w-5xl gap-6 lg:grid-cols-3">
      {
        posts.map(post => {
          const { title, date, imageURL, summary, tags } = post.data;
          return (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <img
                  width={720}
                  height={360}
                  transition:name={title}
                  src={imageURL}
                  alt={`${title} cover pic`}
                  class="object-cover"
                />
                <h4 class="title">{title}</h4>
                <p>{summary}</p>
              </a>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
